h1{
    text-align: center;
    width: 1900px;
    font-size: 100px;
    font-style: oblique;
    color: aliceblue;
    

}

h2{
    text-align: center;
    text-orientation: mixed;
    font-size: 40px;
    color: aliceblue;
}
   
button{
    text-align: left;
    width: 100px;
    font-size: large;


}

body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d247204e-e639-4cdd-bd45-77f29e58c84d/df4i7xh-bbaa7045-728a-4fa0-b40f-c2368d1278ba.jpg/v1/fill/w_1280,h_720,q_75,strp/wp6538316_aesthetic_pc_gaming_4k_wallpapers_by_blacknet2019_df4i7xh-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZDI0NzIwNGUtZTYzOS00Y2RkLWJkNDUtNzdmMjllNThjODRkXC9kZjRpN3hoLWJiYWE3MDQ1LTcyOGEtNGZhMC1iNDBmLWMyMzY4ZDEyNzhiYS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.QE5TVjQUsff9pfGfFz7wyZhDehZfJYt88uO9PVDE5O4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


  
 
 

  